<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/dist/static/css/home.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    {{ auth }}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Precheck</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="Login.html">Logout</a></li>
        </ul>
    </div>
</nav>


<form action="/getWords" method="post" id="form">

    <div class="form-group">
        <label for="exampleTextarea">CQ Precheck</label>
            <div id="textAreaDiv">
                <textarea class="form-control col-sm-2" id="textarea" rows="25" name ="inputText" form="form"></textarea>
            </div>
        {#<input type="hidden" value="{{ authToken }}">#}
        {#<button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>#}
        <input type="submit" class="btn btn-primary" id="submitBtn">
    </div>

</form>

<a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=6888383f-261f-4a88-9cbf-e05324d0c411&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A15000%2Fmicrosoft&response_mode=query&scope=offline_access%20user.read%20mail.send&state=12345">Login with Microsoft</a>



</body>
<script src="/dist/static/js/entitySearch.js"></script>
</html>
